.pokemon {
    display:inline-block;
    text-align: center;
    margin: 10px;
    border: black 1px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: lemonchiffon;
    font-family: 'Balsamiq Sans';
  
}

.pokemon img {
    display: block;
}

.pokemon a {
    text-decoration: none;
    color: black;
}

.pokemon a:hover {
    text-decoration: underline;
}